<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!--Download the framework from NuGet Package or follow the link http://code.angularjs.org/ -->
    <script src="../Scripts/angular.js"></script>
    <!--CDN Network-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
    <!--
        o	angular-animate.js - Enable animation support
        o	angular-cookies.js - A convenient wrapper for reading and writing browser cookies
        o	angular-resource.js - Interaction support with RESTful services via the $resource service   
        o	angular-route.js - Routing and deeplinking services and directives for angular apps
        o	angular-touch.js - Touch events and other helpers for touch-enabled devices
-->

</head>
<body>
    <div ng-app="" ng-init="name='Your Name Please'">
        <!--Name: <input type="text" ng-model="name" title="{{name}}" /><br/>
        <p ng-bind="'Hello '+ name + ' !'"></p>
        
        <p> Expression: Hello {{name}} !</p>-->

        {{1+2}}
    </div>
</body>
</html>
